{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block menu %}
    <span class="label">
    <span class="icon">

    </span>
    <strong>CONTAINER</strong>
    <span class="count">
        <span>{{ collector.usedservices|length }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Container explorer</h2>
    <div id="container_filter"></div>
    <div id="container_explorer"><h3>Loading...</h3></div>
    <div id="container_tree"></div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ asset ('bundles/jerivecontainerexplorer/js/containerExplorer.js') }}"></script>
    <script type="text/javascript">
        var ex = new containerExplorer(
            {{collector.containerdata|raw}},
            {{collector.usedservices|json_encode|raw}},
            {}
        );


    </script>
    <style>

.node {
  font: 10px sans-serif;
}

.node.used text {
  fill: green;
}

.link {
  stroke: steelblue;
  stroke-opacity: .5;
  fill: none;
}

path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font-size: 10px;
  fill: #e00;
}

.node:hover {
  fill: #1f77b4;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.node.target {
  fill: #d62728 !important;
  font-size: 12px;
  font-weight: bold;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
  font-size: 12px;
  font-weight: bold;
}

.link.target {
  stroke: #2ca02c;
}

#container_tree {
    width: 600;
    height: 600;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
}
</style>
{% endblock %}
